<h1>Animal List</h1>

<ul>
    <ng-container *ngFor="let animal of animals">
        <li >
            <p>
                Species: {{ animal.species }}
            </p>
            <p>
                Name: {{ animal.name }}
            </p>
            <p *ngIf=" animal.date == '' ">
                Date: {{ 'Nepoznato' }}
            </p>
            <p *ngIf=" animal.date != '' ">
                Date: {{ animal.date }}
            </p>
        </li>
        <button (click)="remove(animal)">Remove</button>
        <button (click)="moveToTopAnimal(animal)">Move to top animal</button>
    </ng-container>
</ul>

